@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sofia";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Sofia Light"), url(/fonts/Sofia/SofiaLight.ttf) format("ttf");
  }
  @font-face {
    font-family: "Sofia";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: local("Sofia Semibold"),
      url(/fonts/Sofia/SofiaMedium.ttf) format("ttf");
  }
  @font-face {
    font-family: "Plantin";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: local("Plantin Bold"),
      url(/fonts/Plantin/PlantinSemiBold.otf) format("otf");
  }
  @font-face {
    font-family: "Plantin";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Plantin Light"),
      url(/fonts/Plantin/PlantinLight.otf) format("otf");
  }
  html {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
  }

  /* Default style for headings. */
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    font-family: "Plantin Bold";
  }
  h1 {
    font-size: 1.5rem;
    line-height: 72px;
    font-family: "Plantin Bold";
  }
  button {
    background: #ff5100;
    padding: 14px 20px;
    font-weight: 700;
    border-radius: 9999px;
    color: white;
  }
}
